@using Infinity.Blazor.UIControls.Icons

<span class="triquestra-card-selector"
      style="width:@Width"
      onclick="@OnClick"
      onmouseover="@OnHover"
      onmouseout="@OnBlur">
    <span class="triquestra-card-wrapper">
        <ListAltIcon Color="@(Active ? "black" : "#898989")" Width="24" Height="32" />

        <span class="triquestra-card-content">
            <span class="triquestra-card-title">@Title</span>
            <span class="triquestra-card-description">@Description</span>
        </span>
    </span>
    @if (Active)
    {
        <ArrowForwardIcon Color="black" Width="24" Height="24" />
    }
</span>
