@using Infinity.Blazor.UIControls.Icons

<span class="triquestra-input-text-container" style="width:@Width">
    @if (!string.IsNullOrWhiteSpace(LabelText))
    {
        <span class="triquestra-input-text-label">@LabelText</span>
    }

    <TelerikTextArea ValidateOn="@ValidateOn.MapToTelerikValidationEvent()"
                    Enabled="@Enabled"
                    Class="triquestra-input-text"
                    Id="@Id"
                    Title="@Title"
                    TabIndex="@TabIndex"
                    PlaceHolder="@PlaceHolder"
                    AutoSize="@AutoSize"
                    Width="@Width"
                    Value="@Value"
                    ValueChanged="ValueChanged"
                    ValueExpression="@ValueExpression"
                    OnChange="@OnChangeHandler"
                    OnBlur="@OnBlurHandler" />
</span>
