@using System.ComponentModel.DataAnnotations

<div class="triquestra-input-text-container">
    @if (!string.IsNullOrWhiteSpace(LabelText))
    {
        <span class="triquestra-input-text-title">@LabelText</span>
    }
    <TelerikTextBox ValidateOn="@ValidateOn.MapToTelerikValidationEvent()"
                    Enabled="@Enabled"
                    Class="triquestra-input-text"
                    Id="@Id"
                    Title="@Title"
                    TabIndex="@TabIndex"
                    Password="@Password"
                    PlaceHolder="@PlaceHolder"
                    Width="@Width"
                    @bind-Value="@BindValue"
                    OnChange="@OnChangeHandler"
                    OnBlur="@OnBlurHandler">
    </TelerikTextBox>
    <ValidationMessage For="@(() => BindValue)"></ValidationMessage>
</div>