@page "/input-fields"

<PageTitle>Input fields</PageTitle>

@using System.ComponentModel.DataAnnotations
@using Telerik.Blazor.Components
@using Infinity.Blazor.UIControls.InputFields
@using Infinity.Blazor.UIControls.Icons

<h3>Textbox</h3>

<br />

<div>
    <EditForm Model="@person">
        <DataAnnotationsValidator />

        <InfTextBox PlaceHolder="Placeholder" @bind-Value="@person.ErrorTextBox" />
        <TelerikValidationMessage For="@(() => person.ErrorTextBox)"></TelerikValidationMessage>

        <br />
        <br />

        <InfTextBox PlaceHolder="Placeholder" @bind-Value="@person.ErrorTextBoxRightIcon" IconPosition="IconPosition.Right">
            <IconTemplate>
                <BarcodeScannerIcon />
            </IconTemplate>
        </InfTextBox>
        <TelerikValidationMessage For="@(() => person.ErrorTextBoxRightIcon)"></TelerikValidationMessage>

        <br />
        <br />

        <InfTextBox PlaceHolder="Placeholder" @bind-Value="@person.ErrorTextBoxLeftIcon">
            <IconTemplate>
                <BarcodeScannerIcon />
            </IconTemplate>
        </InfTextBox>
        <TelerikValidationMessage For="@(() => person.ErrorTextBoxLeftIcon)"></TelerikValidationMessage>
    </EditForm>
</div>

<br />

<br />

<h3>Input-Text</h3>

<br />

<div>
    <EditForm Model="@person">
        <DataAnnotationsValidator />

        <InfTextBox LabelText="Description" PlaceHolder="Placeholder" @bind-Value="@person.ErrorInputText" />
        <TelerikValidationMessage For="@(() => person.ErrorInputText)"></TelerikValidationMessage>

    </EditForm>
</div>

<br />

<br />

<h3>Input-Text-Area</h3>

<br />

<div>
    <EditForm Model="@person">
        <DataAnnotationsValidator />

        <InfTextArea LabelText="Description" PlaceHolder="Placeholder here" @bind-Value="@person.ErrorInputTextArea" />
        <TelerikValidationMessage For="@(() => person.ErrorInputTextArea)"></TelerikValidationMessage>
    </EditForm>
</div>

@code {
    Person person { get; set; } = new Person();

    public class Person
    {
        [Required(ErrorMessage = "Required")]
        public string ErrorTextBox { get; set; }

        [Required(ErrorMessage = "Required")]
        public string ErrorTextBoxLeftIcon { get; set; }

        [Required(ErrorMessage = "Required")]
        public string ErrorTextBoxRightIcon { get; set; }

        [Required(ErrorMessage = "Required")]
        public string ErrorInputText { get; set; }

        [Required(ErrorMessage = "Required")]
        public string ErrorInputTextArea { get; set; }
    }
}
