@inherits ProgressBar

<div class="triquestra-progress-bar-container">
    <TelerikProgressBar Class="triquestra-progress-bar"
                        Value="@Value"
                        Max="@Max">
        <ProgressBarLabel Visible="true">
            <Template>
                <div class="triquestra-progress-bar-half-circle">
                    <div class="circle-left" style="@CircleLeftStyle"></div>
                    <div class="circle-right" style="@CircleRightStyle"></div>

                    <div class="triquestra-progress-bar-wrapper" style="@BarWrapperStyle">
                        <div class="triquestra-progress-bar-progressed" style="@BarProgressedStyle">
                        </div>
                    </div>
                    <div class="triquestra-progress-bar-value" style="@BarValueStyle">
                        @context.Value%
                    </div>
                </div>
            </Template>
        </ProgressBarLabel>
    </TelerikProgressBar>
</div>
