<TelerikProgressBar Class="triquestra-progress-bar-container"
                    Value="@Value"
                    Max="@Max">
    <ProgressBarLabel Visible="true">
        <Template>
            <div class="triquestra-progress-bar-wrapper">
                <div class="triquestra-progress-bar"
                     style="transform: rotate(@GetBarRorateDegree(context.Value));
                     border-bottom-color: @GetBarColorCssClass();
                     border-right-color: @GetBarColorCssClass();">
                </div>
                <div class="triquestra-progress-bar-value" style="color: @GetBarColorCssClass();">
                    @GetRoundedPercentageValue(context.Value)
                </div>
            </div>
        </Template>
    </ProgressBarLabel>
</TelerikProgressBar>
